.fc-event.fc-event-start.fc-event-end.fc-event-today.fc-event-future.fc-timegrid-event.fc-v-event {
    height: auto;
    width: auto;
    overflow: hidden;
}
.fc-event{
    max-width: fit-content;
    padding: 5px;
    cursor: pointer;
}

.fc-daygrid-event-dot{
  display: none;
}

.fc-event-main-frame>div{
  color:black;
  font-size: 1rem;
}

.fc-button{
  margin-top: 5px!important;
}

.custom-event-content>div{
  color:black;
}

.custom-event-content>div:first-child{
  font-size: 1rem;
}

.fc-daygrid-day-number{
  text-decoration: none;
}

.fc-event-title, .fc-sticky{
  padding-bottom:30px;
}